In [1]:
import pandas as pd
import datetime as dt
from datetime import datetime
from pandas import Timestamp
import time

In [2]:
dfDiesel = pd.read_csv('https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/vdpb/vct/vendas-oleo-diesel-tipo-m3-2013-2022.csv',sep=';')
dfDiesel.dtypes

ANO                      int64
MÊS                     object
GRANDE REGIÃO           object
UNIDADE DA FEDERAÇÃO    object
PRODUTO                 object
VENDAS                  object
dtype: object

In [14]:
dfPetroleo = pd.read_csv('https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/vdpb/vendas-derivados-petroleo-e-etanol/vendas-derivados-petroleo-etanol-m3-1990-2022.csv',sep=';' )
dfPetroleo.dtypes

ANO                      int64
MÊS                     object
GRANDE REGIÃO           object
UNIDADE DA FEDERAÇÃO    object
PRODUTO                 object
VENDAS                  object
dtype: object

In [15]:
dfPetroleo['unit'] = '(m3)'
dfPetroleo['MÊS'].replace(['JAN', 'FEV', 'MAR', 'ABR', 'MAI', 'JUN', 'JUL', 'AGO', 'SET', 'OUT', 'NOV', 'DEZ'],
                          ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'], inplace=True)
dfPetroleo.drop(['GRANDE REGIÃO'],axis=1,inplace=True)
dfPetroleo.rename(columns={"UNIDADE DA FEDERAÇÃO": "uf", "PRODUTO": "product", "VENDAS": "volume" }, inplace=True)

In [16]:
dfPetroleo['year_month'] = dfPetroleo['ANO'].map(str) + '-' + dfPetroleo['MÊS'].map(str)
dfPetroleo.drop(['ANO', 'MÊS'],axis=1,inplace=True)

In [17]:
dfPetroleo['created_at'] = dt.datetime.now()

In [20]:
dfPetroleo = dfPetroleo[['year_month', 'uf', 'product', 'unit', 'volume', 'created_at']]
dfPetroleo.head()

,year_month,uf,product,unit,volume,created_at
0,1999-11,MINAS GERAIS,ETANOL HIDRATADO,(m3),"43356,352",2022-09-13 00:16:59.913970
1,1999-02,SÃO PAULO,ETANOL HIDRATADO,(m3),"202406,862",2022-09-13 00:16:59.913970
2,1999-09,SERGIPE,ETANOL HIDRATADO,(m3),"2744,883",2022-09-13 00:16:59.913970
3,1999-08,SERGIPE,ETANOL HIDRATADO,(m3),"2661,218",2022-09-13 00:16:59.913970
4,1999-05,SÃO PAULO,ETANOL HIDRATADO,(m3),"249336,184",2022-09-13 00:16:59.913970

In [8]:
dfDiesel['year_month'] = pd.to_datetime(dfDiesel['year_month'])

In [9]:
dfDiesel['volume'] = dfDiesel['volume'].str.replace(",",".")
dfDiesel['volume'] = dfDiesel['volume'].astype(float)

In [10]:
dfDiesel.dtypes

year_month    datetime64[ns]
uf                    object
product               object
unit                  object
volume               float64
created_at    datetime64[ns]
dtype: object

In [11]:
dfPetroleo.shape[0]

15390

In [12]:
dfDiesel.head()

,year_month,uf,product,unit,volume,created_at
0,2013-01-01,RONDÔNIA,ÓLEO DIESEL S-10,(m3),3517.60,2022-09-13 00:10:56.013071
1,2013-02-01,RONDÔNIA,ÓLEO DIESEL S-10,(m3),3681.70,2022-09-13 00:10:56.013071
2,2013-03-01,RONDÔNIA,ÓLEO DIESEL S-10,(m3),4700.67,2022-09-13 00:10:56.013071
3,2013-04-01,RONDÔNIA,ÓLEO DIESEL S-10,(m3),5339.20,2022-09-13 00:10:56.013071
4,2013-05-01,RONDÔNIA,ÓLEO DIESEL S-10,(m3),6166.40,2022-09-13 00:10:56.013071

In [ ]:
dfPetroleo['product'].unique()

array(['GASOLINA C', 'GASOLINA DE AVIAÇÃO', 'GLP', 'QUEROSENE DE AVIAÇÃO',
       'QUEROSENE ILUMINANTE', 'ÓLEO COMBUSTÍVEL', 'ÓLEO DIESEL'],
      dtype=object)